<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="container">
  <div class="chatWindow">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>
          Chat
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [scrollEvents]="true">
      <div *ngIf="!messages.length" class="empty">
        <ion-icon src="assets/mensagem.svg"></ion-icon>
        <h4>Tá um vazio aqui...</h4>
      </div>

      <ion-item lines="none" class="chat-item"
        *ngFor="let m of messages; index as i">
        <ion-badge slot="start" [ngClass]="m.sender === 'me' ? 'me' : 'bot'">
          <ion-icon class="chat-icon"
            src="assets/user.svg"></ion-icon>
        </ion-badge>
        <ion-label text-wrap>
          <p text-wrap>{{m.content}}</p>
          <ion-spinner *ngIf="loading && (i+1 === messages.length)" color="danger" name="dots"></ion-spinner>
        </ion-label>
      </ion-item>
    </ion-content>

    <ion-footer>
      <form [formGroup]="form" (click)="submit()" (ngSubmit)="submit()" (keyup.enter)="submit()">
        <ion-item class="text-box-item">
          <ion-textarea formControlName="prompt" auto-grow="true" placeholder="Me pergunte algo..."></ion-textarea>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon style="color: #8a2be2;" class="submit-icon" name="send"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </form>
    </ion-footer>
  </div>

    <div style="text-align: center;" class="chatToggle"  (click)="toggleChat()">
      <ion-icon style="padding-top: 20px; width: 2.2em; height: 2.2em;" src="assets/mensagem2.svg"></ion-icon>
    </div>
</div>
<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Made by harold illert 👽
    </ion-title>
  </ion-toolbar>
</ion-footer>